<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/stylesheets/style.css"/>
	</head>
	<body>
		<div id="page-wrap">
			<img src="/images/cthulu.png" id="pic"/>
			<div id="contact-info" class="vcard"></div>

			<h1 class="fn">{{ name }}</h1>
			<p>
				<div class="line">Mobile : <span class="tel">016-366-2458</span></div>
				Email : <a href="mailto:fadrizul@gmail.com">fadrizul@gmail.com</a> <br/>
				Github : <a href="http://github.com/fadrizul">github.com/fadrizul</a>
			</p>

			<div id="objective">
				<p>
					I have a very strong technical experience in web developing and has successfully designed, developed, and supported live web applications. I always provide exceptional contributions to customer service for all customers and have a full understanding of the full life cycle of a web development project and am always looking forward learning new technologies.
				</p>
			</div>

			<dl>
				<dd class="clear"></dd>
				<dt style="height: 220px;">Skills</dt>
					
					<dd>
						<h2>Programming languages</h2>

						<ul>
							<li>CoffeeScript</li>
							<li>CSS</li>
							<li>HAML</li>
							<li>HTML</li>
							<li>Jade</li>
							<li>Javascript</li>
							<li>PHP</li>
							<li>Objective-C</li>
							<li>Stylus</li>
						</ul>
					</dd>

					<dt></dt>
					<dd>
						<h2>Web Frameworks</h2>

						<ul>
							<li>CakePHP</li>
							<li>NodeJS</li>
						</ul>
					</dd>

					<dt style="height: 130px;"></dt>
					<dd>
						<h2>Databases</h2>

						<ul>
							<li>CouchDB</li>
							<li>MongoDB</li>
							<li>MySQL</li>
							<li>MSSQL</li>
							<li>Oracle</li>
						</ul>
					</dd>
				</dl>
								
				<dl>
					<dd class="clear"></dd>

					<dt style="height: 170px;">Project Experience</dt>
					<dd>
						<h2>TGV Cinemas <span>NodeJS</span></h2>
						<p>
							Integrated <b>Vista Ticketing System</b> and <b>iPay88 Payment gateway</b> into <b>NodeJS</b>. Created complex algorithms to draw out cinemas seating plans, and maps it out for users; so it'd be easier for them to choose seats & tickets. Did a lot of complex socket manipulations to calls APIs from Vista's REST system. 
							
							<div class="line"></div>
							<a href="http://tgv.com.my" target="_blank">www.tgv.com.my</a>
						</p>
					</dd>

					<dt style="height: 140px;"></dt>
					<dd>
						<h2>TwigJS <span>NodeJS</span></h2>
						<p>
							 A template-engine for <b>NodeJS</b> written fully in <b>CoffeeScript</b> that supports template inheritance and logical algoritm in view files exactly like PHP template-engine called <a href="http://www.twig-project.org">Twig</a>.
							
							<div class="line"></div>
							<a href="http://twigjs.org" target="_blank">www.twigjs.org</a>
						</p>
					</dd>

					<dt style="height: 140px;"></dt>
					<dd>
						<h2>NodeChatter <span>NodeJS</span></h2>
						<p>
							A single-page web application that handles multiple concurrent connections between
							clients in "real-time". Created a complex algoritm in <b>Javascript</b> for the server to transport
							data streams from the server to clients and back again.  
							
							<div class="line"></div>
							<a href="http://www.nodechatter.com" target="_blank">www.nodechatter.com</a>
						</p>
					</dd>

					<dt style="height: 130px;"></dt>
					<dd>
						<h2>Bitumix Properties <span>CakePHP 2.0</span></h2>
						<p>
							An experimental project that uses the new <b>CakePHP 2.0</b> framework to test its performance
							with a website that has a fully featured client-side <b>Javascript</b>.

							<div class="line"></div>
							<a href="http://www.bitumix.my" target="_blank">www.bitumix.my</a>
						</p>
					</dd>

					<dt style="height: 190px;"></dt>
					<dd>
						<h2>PHP Academy <span>CakePHP 1.3</span></h2>
						<p>
							A web-application that handles classes and lessons for Microsoft's PHP Academy. Created an exam module that randomly generates exam paper for the students based on the subject taken by pulling a set of questions from the database that has over 10,000 questions. These questions were created by the tutors before-hand.
							
							<div class="line"></div>
							<a href="http://phpacade.my" target="_blank">www.phpacade.my</a>
						</p>
					</dd>

					<dt style="height: 170px;"></dt>
					<dd>
						<h2>PLBK <span>CakePHP 1.3</span></h2>
						<p>
							A web-application that generates certificates and training classes for all new contractors in Malaysia and has handled CIDB's (Construction Industry Development Board) operational budget of over MYR 4,000,000 since its launch early this year. 
							
							<div class="line"></div>
							<a href="http://www.cidb.gov.my/plbk" target="_blank">www.cidb.gov.my/plbk</a>
						</p>
					</dd>

					<dt style="height: 210px;"></dt>
					<dd>
						<h2>1ROC <span>CakePHP 1.2</span></h2>
						<p>
							A web-application that automates manual contractors' applications with scanners and stores all the scanned data in an <b>Oracle</b> database. Was featured in "Berita Harian" and was launched by our Prime Minister Dato' Sri Haji Mohd Najib bin Tun Haji Abdul Razak. Wrote custom <b>Javascript</b> files for integrations with <b>CakePHP</b> framework and Dynamic Twain module. I also wrote a custom script that migrated over 640,000 of data from their old <b>MSSQL</b> server into <b>Oracle</b> server.
							
							<div class="line"></div>
							<a href="http://1roc.cidb.gov.my/" target="_blank">1roc.cidb.gov.my</a>
						</p>
					</dd>

					<dt style="height: 200px;"></dt>
					<dd>
						<h2>eLatihan Kemahiran <span>CakePHP 1.2</span></h2>
						<p>
							E-Latihan is a course registration site for Akademi Binaan Malaysia to manage registered applicants online. Integrated with SMS notification system to notify the applicants that they have been approved for training classes, denied, get called for interviews, or they have been forwarded into the waiting list. Wrote a complex algorithm for the reporting system to shows everything that has been going on the website between a certain period of time. 
							
							<div class="line"></div>
							<a href="http://www.cidb.gov.my/elatihan/" target="_blank">www.cidb.gov.my/elatihan</a>
						</p>
					</dd>

					<dt style="height: 190px;"></dt>
					<dd>
						<h2>Standard Guru Malaysia<span>CakePHP 1.2</span></h2>
						<p>
							Standard Guru Malaysia (SGM) is an online system that enables Ministry of Education department to generate questionnaires dynamically for teachers & lecturer nationwide. Their performance or rating will be graded based on this system. It was launched by Tan Sri Muhyiddin bin Yassin and was featured in "Utusan Malaysia". 
							
							<div class="line"></div>
							<a href="http://www.moe.gov.my/sgm/" target="_blank">www.moe.gov.my/sgm</a>
						</p>
					</dd>
					<dl>
					<dt style="height: 120px;">Employment History</dt>

					<dd>
						<h2>Art In Software Sdn. Bhd. <span>Inkubator K-Ekonomi, Melaka</span></h2>

						<p>
							<div class="line"><strong>Position:</strong> PHP Programmer</div>
							<div class="line"><strong>Period:</strong> November 2008 - August 2011</div>

							<a href="http://www.aist.com.my" target="_blank">www.aist.com.my </a>
						</p>
					</dd>

					<dt style="height: 120px;"></dt>
					<dd>
						<h2>National Semiconductor Bhd. <span>Batu Berendam, Melaka</span></h2>

						<p>
							<div class="line"><strong>Position:</strong> .NET Programmer</div>
							<div class="line"><strong>Period:</strong> June 2007 - Nov 2008</div>

							<a href="http://www.national.com/" target="_blank">www.national.com</a>
						</p>
					</dd>

					<dd class="clear"></dd>
				</dl>

				<dd class="clear"></dd>
					<dt style="height: 60px;">Objective</dt>
					<dd>
						<p>
							Seeking for a place that's using NodeJS framework, or any new bleeding edge technologies that could improve my programming skills further.
						</p>
					</dd>
					<dd class="clear"></dd>
					<dt style="height: 200px;">Interests Achievements Activities </dt>
					<dd>
						<p>
							My hobbies are reading, coding, and learning. I love learning about new things, would never stop doing that.
							<br /><br />
							One of my greatest achivements is I managed to finished up 1ROC project in less than a month. The project dateline was very tight and it seemed impossible at first. But I managed to do it.
							<br /><br />
							My favourite activities is of-course reading and learning. But aside from that, I like to jog, play badminton and bowling. 
						</p>
					</dd>

					<dd class="clear"></dd>
					<dt>Education </dt>

					<dd>
						<h2>Diploma in Information Technology</h2>
						<p>
							<div class="line"><strong>Multimedia University</strong></div>
							<div class="line">Melaka, Malaysia</div>
						</p>
					</dd>

					<dt></dt>
					<dd>
						<h2>Advance Level (A-Level) in Electronic Engineering</h2>
						<p>
							<div class="line"><strong>Norwich City College</strong></div>
							<div class="line">Norwich, England</div>
						</p>
					</dd>

					<dt></dt>
					<dd>
						<h2>General Certificate of Secondary Education (GCSE) </h2>
						<p>
							<div class="line"><strong>Earlham High School</strong></div>
							<div class="line">Norwich,England</div>
						</p>
					</dd>
					<dd class="clear"></dd>
					<dt style="height: 25px;">References</dt>
					<dd>
						<p>Available on request</p>
					</dd>
				</dl>
			</div>
			<a href="files/fadrizul.zip"><img src="images/pdfIcon.jpg" align="right" id="pdf"/></a>
		</div>
	</body>
</html>
